<div class="container form-centralizado col-4">
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" name="email" autocomplete="email"
        placeholder="Informe o seu e-mail" autofocus required>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" id="password" class="form-control" name="password" placeholder="Informe a sua senha"
        required>
    </div>
    <button type="button" class="btn btn-outline-success btn-lg btn-block">Acesso</button>

  </form>
</div>

